table {
    margin: 0 auto;
    width: 80%;
    border-collapse: collapse;
}

table td,
table th {
    border: 1px solid black;
    padding: 8px;
}

body.dark-mode table td,
body.dark-mode table th {
    border: 1px solid white;
}

table tr:nth-child(even) {
    background-color: rgba(255, 127, 80, 0.5);
}

table tr:hover {
    background-color: chocolate;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: blueviolet;
    color: inherit;
}